# Modernisme: Accés Obert. Hack the Data!

Dades scrapejades per professors de la facultat de història (UB raval). 

[GracmoDocs](http://www.ub.edu/gracmon/?page_id=9)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
pintura_df = pd.read_csv('dades/pintura.csv', sep=';')

# recodificar dades 

import codecs
import csv

f = open('dades/pintura.csv', 'rb')

def reencode(f):
    for line in f:
        yield line.decode('windows-1250').encode('utf-8')

        
for i in reencode(f):
    print i

In [29]:
pintura_df.head()

,Nid,T�tol,Tipus,Autor,Num. Inventari,Al�ada,Amplada,Col�lecci�,Inici,Imatge,...,Carrer,Codi cat�leg,Coordenades,Di�cesis,Estatus,G�nere,Material utilitzat,Part de,Poblaci�,Wikilink
0,1792,Bust de nena,Pintura,Joan Brull i Vinyoles,1686,412,318,Biblioteca Museu V�ctor Balaguer,1912-01-01T00:00:00Z,http://commons.wikimedia.org/wiki/Special:File...,...,NaN,NaN,1.729429999 41.6221353,NaN,NaN,retrat,NaN,NaN,NaN,http://www.wikidata.org/entity/Q19162526
1,2248,La V�dua,Pintura,Ramon Casas i Carb�,2083,NaN,NaN,Biblioteca Museu V�ctor Balaguer,1890,https://upload.wikimedia.org/wikipedia/commons...,...,NaN,NaN,1.729429999 41.6221353,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q18719543
2,2251,Montmartre (Ramon Casas),Pintura,Ramon Casas i Carb�,1651,NaN,NaN,Biblioteca Museu V�ctor Balaguer,1899,https://upload.wikimedia.org/wikipedia/commons...,...,NaN,NaN,1.729429999 41.6221353,NaN,NaN,paisatge,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q11937478
3,1804,Cap de nena,Pintura,Laure� Barrau i Bu�ol,126,40,30,Casa Mas�,1900-01-01T00:00:00Z,http://commons.wikimedia.org/wiki/Special:File...,...,NaN,NaN,2.824789699 41.9860456,NaN,NaN,retrat,NaN,NaN,NaN,http://www.wikidata.org/entity/Q23015840
4,1820,Carrer,Pintura,an�nim,48,30,22,Casa Mas�,1870-01-01T00:00:00Z,http://commons.wikimedia.org/wiki/Special:File...,...,NaN,NaN,2.824789699 41.9860456,NaN,NaN,paisatge,NaN,NaN,NaN,http://www.wikidata.org/entity/Q23015831

In [22]:
dimensions = pintura_df.ix[:,5:7]

In [24]:
dimensions['high'] = dimensions.ix[:,0]

In [28]:
dim_df = pd.DataFrame()

In [30]:
dim_df[['height', 'width']] =  pintura_df.ix[:,5:7]

In [32]:
dim_df['any'] = pintura_df.Inici

In [33]:
dim_df

     height width                   any
0       412   318  1912-01-01T00:00:00Z
1       NaN   NaN                  1890
2       NaN   NaN                  1899
3        40    30  1900-01-01T00:00:00Z
4        30    22  1870-01-01T00:00:00Z
5        28    22  1900-01-01T00:00:00Z
6        68    52  1870-01-01T00:00:00Z
7        60   109  1890-01-01T00:00:00Z
8        69   100  1870-01-01T00:00:00Z
9        25    15  1870-01-01T00:00:00Z
10       30    22  1870-01-01T00:00:00Z
11       37    55  1880-01-01T00:00:00Z
12       22    29  1870-01-01T00:00:00Z
13       63  1065  1870-01-01T00:00:00Z
14       40    32  1890-01-01T00:00:00Z
15      100   814  1890-01-01T00:00:00Z
16      675    54  1898-01-01T00:00:00Z
17       98    71  1891-01-01T00:00:00Z
18       85    64  1897-01-01T00:00:00Z
19      725    98  1902-01-01T00:00:00Z
20       60    49  1891-01-01T00:00:00Z
21      395   305  1890-01-01T00:00:00Z
22      383    24  1900-01-01T00:00:00Z
23      815   647  1890-01-01T00:00:00Z
24      153    71  1893-01-01T00:00:00Z
25       81    53  1890-01-01T00:00:00Z
26       25    34  1900-01-01T00:00:00Z
27       51   615  1894-01-01T00:00:00Z
28      465   566  1894-01-01T00:00:00Z
29      273   186  1900-01-01T00:00:00Z
...     ...   ...                   ...
1431    NaN   NaN  1902-01-01T00:00:00Z
1432    NaN   NaN  1895-07-05T00:00:00Z
1433    NaN   NaN  1900-01-01T00:00:00Z
1434    NaN   NaN  1886-01-01T00:00:00Z
1435    NaN   NaN  1900-01-01T00:00:00Z
1436    NaN   NaN  1900-01-01T00:00:00Z
1437    NaN   NaN  1870-01-01T00:00:00Z
1438    NaN   NaN  1891-01-01T00:00:00Z
1439    NaN   NaN  1890-01-01T00:00:00Z
1440    NaN   NaN  1901-01-01T00:00:00Z
1441    NaN   NaN  1898-01-01T00:00:00Z
1442    NaN   NaN  1898-01-01T00:00:00Z
1443    NaN   NaN  1895-01-01T00:00:00Z
1444    NaN   NaN  1907-01-01T00:00:00Z
1445    NaN   NaN  1895-03-07T00:00:00Z
1446    NaN   NaN  1895-01-01T00:00:00Z
1447    NaN   NaN  1896-01-26T00:00:00Z
1448    NaN   NaN  1906-01-01T00:00:00Z
1449    NaN   NaN  1905-01-01T00:00:00Z
1450    NaN   NaN  1905-01-01T00:00:00Z
1451    NaN   NaN  1904-01-01T00:00:00Z
1452    NaN   NaN  1900-01-01T00:00:00Z
1453    NaN   NaN  1900-01-01T00:00:00Z
1454    NaN   NaN  1896-01-01T00:00:00Z
1455    NaN   NaN  1896-02-03T00:00:00Z
1456    NaN   NaN  1895-06-28T00:00:00Z
1457    NaN   NaN  1894-01-01T00:00:00Z
1458    NaN   NaN  1896-01-01T00:00:00Z
1459    NaN   NaN                  1894
1460    NaN   NaN                   NaN

[1461 rows x 3 columns]